@CHARSET "UTF-8";

body {	
	background-image:url("./images/bg.jpg") !important;	
	background-repeat: repeat;
	width:100%;
	height:100%;
	/* default font-size in explore is medium that is 16px ,here set base font-size to 10px */ 
	font-size:125%;		
	font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu,"Trebuchet MS","Lucida Grande";
}
div,ul{ 
	padding:0; 
	margin:0;
}

#cover{
	position:absolute;
	z-index:999;
	left:0;
	top:0;	
}
#tabcontainer{ 	
	margin:0.5em;
	display:none;
}
.tab{
	padding:0;
	margin:0; 
	margin-left:6em; 
	background-color:#dcdcdc;
}
.tab li{ 
 	list-style:none; 
 	float:left;
 	padding:0; 
 	margin-right:10px; 
 	line-height:2em; 
 	height:2em; 
 	width:9em; 
 	text-align:center;
 	border-top-left-radius:0.5em;
 	border-top-right-radius:0.5em; 	
}
.disable{
	color:#c0c0c0;
}
.content{ 
	float:none;         	
	clear:both;     	
}
.content > div{ 
	border-top:0px; 
	padding-top:30px; 
	min-width:320px; 
	border:solid 1px black;
	border-radius:0.5em;        
}
.tab_selected{ 
	border-left:solid 1px black; 
	background-color:#dcdcdc;  
	border-right:solid 1px black; 
	border-top:solid 1px black; 
	border-bottom:0px; 
	bottom:-2px; 
	position:relative; 
	z-index:99;
	color:#black;
}
.tab_current{
	text-decoration:underline;
}
#tab1{
	line-height:200%;	
}
#tab1 input[type=text],input[type=number]{
	font-size:1.1em;
	float:left;
	margin-top:0.8em;	
}
.information{
	float:left;
	margin-left:1em;
	margin-top:1em;	
	width:6em;
}
#sex{
	float:left;	
	margin-left:2em;
	clear:right;
}
fieldset{
	border:0px;
	line-height:200%;
	margin-top:1em;	
}
.divclearboth{
	clear:both;
}
#divmoney{
	line-height:3.5em;
	/* background-color:blue; */
}
#btnsubmitevalu,#guihua_next_a{
	margin-left:45%;
	font-size:1.2em;
}
#test{
	margin-left:5em;
	border:solid 1px #dcdcdc;
	background-color:#dcdcdc;
	border-radius:3px;
}
#test:hover{
	background-color:grey;
	color:white;
}
#btnstartevalu{
	left:1em;	
	position:relative;
	font-size:1em;
}
#evaluation{
	width:90%;
	/* height:123em; */
	background-color:#dcdcdc;	
	border-radius:0.5em;
	z-index:999;
	position:relative;	
	top:1em;
	padding:0.5em 0.5em 0.5em 2.5em;
	margin:auto;
	margin-bottom:1em;
	display:none; 
}
#evaluation h3{ 
	font-size:2em;
	line-height:3em;
	left:30%;
	position:relative;
	
}
#evaluation h4{
	font-size:1.5em;
	line-height:2em;
	color:blue;
	left:-1em;
	position:relative;
}
#evaluationol>li>ol>li{	
	font-size:1.2em;
	line-height:2.4em;		
	margin-right:0.5em;
}
ol.upalpha {list-style-type: upper-alpha}

.advice{
	text-indent:2em;
	margin:1em;
	line-height:2em;
	display:none; 
	font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu,"Trebuchet MS","Lucida Grande";
	font-weight:bold;
}
.appetite{
	font-weight:bold;
	text-decoration:underline;
}
#advice p:first-letter{
	color:#ff0000;
	font-size:3em;
	font-weight:bold;	
}
.planningcollapsed{	
	height:2em;
	overflow:hidden;
	width:96%;
	background-color:#dcdcdc;  
	border-radius:0.5em;
	margin:auto;				
	padding:0.5em;
}
.planning{	
	height:auto;
}
.planningtitle{
	margin-left:0.5em;	
}
.planningcollapsed img,.planning img{
	width:1.2em;
	height:1.2em;	
	float:right;
	margin-top:5px;
	margin-right:1em;
}
.echo{
	display:inline;
}
#fu3guarantee,#bbb_guarantee{
	display:none;
	height:auto;
}
#fu3guarantee h2{
	width:20em;
	margin:auto;
}
#bbb_guarantee h2{
	width:12em;
	margin:auto;
}
#lcgh_page2{
	line-height:2em;
	padding:0.5em;
}
#lcgh_page2>h2{
	font-size:2em;
	width:14em;
	margin:auto;		
}
.manger span{
	 padding-left:6em;
}
.planningtext{
	font-size:1.2em;
	text-indent: 2em;
}
.planningtext .parameter{
	margin-left:1em;
}
.txtindent{
	text-indent: 2em;
}
#getguarantee_bbb, #getguarantee_fu3{
	display:inline;
	margin-left:2em;
	font-size:0.8em;
	width:10em;
}
#container,#container2,#container3,#container5{
	width:50%;
	margin-right:20%;
	min-width:320px;
	min-height:320px;
	/* background-color:grey; */
}
#columnimg{
	width:100%;	
	
}
#columnimg img{
	width:50%;
	min-width:20em;
	margin:auto;
	/* background-color:#e0e0e0; */
}
#tab3{
	padding:0.5em;
}
#tab3 div{
	line-heigth:1.5em;
	margin-top:8px;
}

#tab3 h2{	
	margin:auto;	
}
.tmp{
	color:#7cb5ec;
	color:#434348;
	color:#90ed7d;
	color:#f7a35c;
	color:#8085e9;
	color:#f15c80;
	color:#e4d354;
	color:#8085e8;
	color:#8d4653;
	color:#91e8e1;
}